.toplist-detail {
  padding: 30px 20px;
  &-txt {
    color: nth($fblack, 3);
    .iconfont {
      padding-right: 5px;
      vertical-align: top;
    }
  }
  &-btns {
    margin-top: 10px;
  }
  &-time {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-table {
    margin-top: 20px;
  }
}
