.my {
  padding: 30px 20px;
  &-title {
    font-size: 20px;
  }
  &-songs {
    margin-top: 20px;
    &-icon {
      color: nth($fblack, 3);
      cursor: pointer;
      &:hover {
        color: nth($fblack, 1);
      }
    }
    &-btns {
      margin-bottom: 20px;
    }
  }
}
