.com-sider {
  width: 220px;
  padding: 0 15px;
  background-color: nth($fgray, 3);
  box-sizing: border-box;
  &-head {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid nth($fgray, 1);
  }
  &-pic {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 50px auto 0;
    border-radius: 50%;
    img {
      width: 100%;
      min-height: 100%;
    }
    &:hover {
      .com-sider-user {
        visibility: visible;
      }
    }
  }
  &-name {
    margin-top: 10px;
    font-size: nth($fz, 2);
  }
  &-list {
    .sider-list {
      &-title {
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 5px;
        color: nth($fblack, 2);
      }
      &-item {
        display: flex;
        line-height: 30px;
        font-size: nth($fz, 2);
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.3s ease;
        .iconfont {
          padding-right: 5px;
          font-size: nth($fz, 4);
        }
        a {
          display: block;
          width: 100%;
          padding-left: 10px;
          &.active {
            background-color: nth($fblue, 1);
            color: white;
          }
        }
        h3 {
          display: inline;
        }
        &:hover {
          background-color: nth($fgray, 1);
        }
      }
    }
  }
  &-user {
    position: absolute;
    bottom: -112px;
    left: 50%;
    width: 200px;
    background-color: white;
    border: 1px solid nth($fgray, 4);
    border-radius: 6px;
    transform: translate(-50%, 0);
    @include dropShadow;
    visibility: hidden;
    &::before {
      position: absolute;
      left: 50%;
      top: -10px;
      height: 0;
      width: 0;
      border-bottom: 10px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: '';
      transform: translate3d(-50%, 0, 0);
    }
    &-info {
      display: flex;
      text-align: center;
    }
    &-item {
      flex: 1;
      margin: 10px 0;
      line-height: 20px;
      color: nth($fblack, 2);
      & + .com-sider-user-item {
        border-left: 1px solid nth($fgray, 1);
      }
    }
    &-btns {
      display: flex;
      border-top: 1px solid nth($fgray, 1);
    }
    &-btn {
      flex: 1;
      margin: 10px 0;
      & + .com-sider-user-btn {
        border-left: 1px solid nth($fgray, 1);
      }
    }
  }
}
