.program-header {
  &-pic {
    float: left;
    padding: 5px;
    border: 1px solid nth($fgray, 1);
    > img {
      width: 100%;
      vertical-align: middle;
    }
  }
  &-info {
    @include hid;
  }
  &-name {
    font-size: nth($fz, 4);
  }
  &-tag {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    height: 20px;
    margin-right: 20px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: nth($fz, 1);
    vertical-align: middle;
    &::after {
      position: absolute;
      right: -10px;
      top: 0;
      height: 0;
      width: 0;
      border: 10px solid transparent;
      border-left-color: red;
      border-right-width: 0;
      content: '';
    }
    &::before {
      position: absolute;
      top: 50%;
      right: -2px;
      width: 4px;
      height: 4px;
      border-radius: 3px;
      background-color: white;
      content: '';
      transform: translate(0, -50%);
      z-index: 1;
    }
  }
  &-cate {
    padding: 2px 6px;
    border: 1px solid nth($fred, 1);
    color: nth($fred, 1);
    border-radius: 3px;
    line-height: 1;
    &:hover {
      background-color: nth($fred, 2);
      color: nth($fred, 1);
    }
  }
}
