.playlist {
  padding: 0 20px;
  &-title {
    position: relative;
    line-height: 50px;
    border-bottom: 2px solid nth($fblue, 1);
    .title-txt {
      display: inline;
      font-size: nth($fz, 4);
    }
    .iconfont {
      display: inline-block;
      padding-left: 5px;
      transition: all 0.3s;
      transform-origin: 60% 50% 0;
      &.active {
        transform: rotate(180deg);
      }
    }
    .title-btn-box {
      border-collapse: collapse;
    }
    .title-btn {
      padding: 6px;
      cursor: pointer;
      &.active {
        color: white;
        background-color: nth($fblue, 1);
        border-color: nth($fblue, 1);
        &:active {
          border-color: nth($fblue, 2);
          background-color: nth($fblue, 2);
        }
      }
    }
    &-btn {
      display: inline-block;
      cursor: pointer;
    }
  }
  &-catlist {
    position: absolute;
    top: 110%;
    left: 0;
    right: 23%;
    padding: 10px 0 20px 30px;
    background-color: white;
    z-index: 100;
    border-radius: 4px;
    line-height: 26px;
    @include dropShadow;
    cursor: pointer;
    &::after {
      position: absolute;
      top: -12px;
      left: 20px;
      height: 0;
      width: 0;
      border: 12px solid transparent;
      border-bottom-color: white;
      border-top-width: 0;
      content: '';
    }
    .active {
      color: nth($fblue, 1);
    }
    &-title {
      float: left;
      color: nth($fblack, 3);
    }
    &-box {
      margin-left: 50px;
    }
    &-item {
      display: inline-block;
      padding-right: 40px;
      transition: all 0.3s;
      &:hover,
      &:active {
        color: nth($fblue, 1);
      }
    }
  }
}
