.dj {
  padding: 20px;
  &-classification {
    padding-bottom: 10px;
    border-bottom: 1px solid nth($fgray, 1);
    &-list {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
    }
    &-item {
      width: 60px;
      margin-bottom: 10px;
      white-space: nowrap;
      margin-right: 30px;
      line-height: 20px;
      cursor: pointer;
      text-align: center;
      border: 1px solid nth($fblue, 2);
      border-radius: 3px;
      color: nth($fblue, 1);
      &:hover,
      &:active,
      &.active {
        filter: hue-rotate(60deg);
      }
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
      width: 48%;
      padding: 20px 0;
      border-bottom: 1px solid nth($fgray, 1);
      box-sizing: border-box;
    }
    &-pic {
      float: left;
      width: 120px;
      @include hid;
      > img {
        width: 100%;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin-left: 140px;
      &-artist {
        margin-bottom: 5px;
        color: nth($fblack, 2);
      }
      &-txt {
        color: nth($fblack, 3);
      }
      &-periods {
        padding-right: 10px;
      }
    }
    &-name {
      // margin-top: 15px;
      margin-bottom: 10px;
      font-size: nth($fz, 3);
      @include wordbreak;
    }
  }
  &-new {
    margin-top: 20px;
    &-list {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
    }
    &-item {
      width: 18%;
      color: nth($fblack, 3);
    }
    &-pic {
      width: 100%;
      > img {
        width: 100%;
      }
    }
    &-name {
      font-size: nth($fz, 2);
      color: nth($fblack, 1);
      @include linehid(2);
    }
    &-txt {
      color: nth($fblack, 3);
    }
  }
  &-recommend {
    margin-top: 20px;
  }
}
