.toplist {
  display: flex;
  width: 100%;
  border: 1px solid nth($fgray, 4);
  background-color: nth($fgray, 3);
  box-sizing: border-box;
  &-list {
    flex: 1;
    border-right: 1px solid nth($fgray, 4);
    @include hid;
    &:last-child {
      border-right: 0;
    }
    &-title {
      padding: 20px;
    }
    &-pic {
      display: inline-block;
      width: 80px;
      height: 80px;
      @include hid;
      vertical-align: top;
      > img {
        width: 100%;
      }
    }
    &-info {
      display: inline-block;
      margin-left: 10px;
      vertical-align: top;
      h4 {
        margin-top: 10px;
        font-size: nth($fz, 2);
        font-weight: bold;
      }
      .iconfont {
        display: inline-block;
        padding-top: 5px;
        color: nth($fblack, 3);
        font-size: nth($fz, 5);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: nth($fblack, 2);
        }
      }
    }
    &-item {
      padding-left: 30px;
      padding-right: 10px;
      line-height: 30px;
      cursor: pointer;
      &-txt {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        max-width: 80%;
        @include txthid;
        @include hid;
      }
      &-num {
        padding-right: 10px;
        font-size: nth($fz, 3);
        color: nth($fblack, 2);
        vertical-align: top;
        &.active {
          color: nth($fred, 1);
        }
      }
      &-actions {
        visibility: hidden;
        float: right;
        color: nth($fblack, 3);
        .iconfont {
          &:hover {
            color: nth($fblack, 2);
          }
        }
      }
      &:nth-child(odd) {
        background-color: nth($fgray, 5);
      }
      &:hover {
        .toplist-list-item-actions {
          visibility: visible;
        }
        .toplist-list-item-txt {
          max-width: 75%;
        }
      }
      &.more {
        background-color: nth($fgray, 5);
        .iconfont {
          font-size: nth($fz, 1);
        }
      }
    }
  }
}
