.artist {
  &-content {
    padding: 0 40px;
  }
  &-songs {
    margin-top: 20px;
  }
  &-albums {
    padding: 20px 40px 0;
  }
  &-desc {
    margin-top: 20px;
    margin-bottom: 40px;
    &-title {
      padding-left: 10px;
      font-weight: bold;
      font-size: 14px;
      border-left: 2px solid nth($fblue, 1);
      line-height: 1;
    }
    &-content {
      margin-top: 15px;
      text-indent: 2em;
    }
    &-intro {
      margin-top: 20px;
    }
    &-item {
      white-space: pre-wrap;
      .item-title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
