.artist {
  &-content {
    padding: 0 20px;
  }
  &-songs {
    margin-top: 20px;
    &-icon {
      color: nth($fblack, 3);
      cursor: pointer;
      &:hover {
        color: nth($fblack, 1);
      }
    }
  }
  &-albums {
    padding: 20px 40px 0;
  }
}
