.btn,
.btn-primary {
  padding: 5px 12px;
  border: 1px solid nth($fgray, 5);
  border-radius: 3px;
  cursor: pointer;
  background-color: #fdfdfd;
  line-height: 14px;
  color: nth($fblack, 2);
  &:active {
    filter: hue-rotate(15deg);
  }
  .iconfont {
    padding-right: 5px;
    font-size: nth($fz, 1);
  }
}
.btn-primary {
  color: white;
  background-color: nth($fblue, 1);
  border-color: nth($fblue, 1);
}
