@font-face {
  font-family: 'iconfont';
  src: url('./fonts/iconfont.eot');
  src: url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype'),
    url('./fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-next:before { content: "\e603"; }

.icon-prev:before { content: "\e650"; }

.icon-pause:before { content: "\e655"; }

.icon-music:before { content: "\e609"; }

.icon-volume:before { content: "\e60a"; }

.icon-headset:before { content: "\e60d"; }

.icon-github:before { content: "\e68d"; }

.icon-play:before { content: "\e679"; }
