@font-face {
  font-family: 'iconfont';
  src: url('./fonts/iconfont.eot');
  src: url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype'),
    url('./fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mute:before { content: "\e7dc"; }

.icon-next:before { content: "\e603"; }

.icon-prev:before { content: "\e650"; }

.icon-pause:before { content: "\e655"; }

.icon-volume:before { content: "\e708"; }

.icon-music:before { content: "\e609"; }

.icon-success:before { content: "\e77d"; }

.icon-error:before { content: "\e77e"; }

.icon-info:before { content: "\e77f"; }

.icon-warning:before { content: "\e785"; }

.icon-right:before { content: "\e7eb"; }

.icon-left:before { content: "\e7ec"; }

.icon-headset:before { content: "\e60d"; }

.icon-github:before { content: "\e68d"; }

.icon-play:before { content: "\e679"; }

.icon-swap-right:before { content: "\e8f1"; }
