.newalbum {
  margin-right: -25px;
  &-list {
    &-item {
      position: relative;
      float: left;
      width: 20%;
      padding-right: 25px;
      margin-bottom: 25px;
      box-sizing: border-box;
    }
    &-pic {
      width: 100%;
      @include hid;
      box-shadow: 2px 8px 6px -3px rgba(0,0,0,0.2);
      cursor: pointer;
      > img {
        display: block;
        width: 100%;
      }
    }
    &-name {
      margin-top: 10px;
      @include txthid;
      @include hid;
      font-size: nth($fz, 2);
      @include wordbreak;
    }
    &-txt {
      color: nth($fblack, 2);
      @include wordbreak;
      @include txthid;
      @include hid;
      &:hover {
        color: currentColor;
      }
    }
    &-link {
      &:hover {
        ~ .newalbum-play-btn {
          visibility: visible;
        }
      }
    }
  }
  &-play-btn {
    position: absolute;
    top: 50%;
    right: 35px;
    width: 20px;
    height: 21px;
    color: nth($fgray, 1);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 1;
    visibility: hidden;
    > .iconfont {
      font-size: 20px;
    }
    &:hover {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
