.toplist {
  width: 100%;
  border: 1px solid nth($fgray, 4);
  background-color: nth($fgray, 3);
  &-list {
    float: left;
    width: 33%;
    border-right: 1px solid nth($fgray, 4);
    &:last-child {
      border-right: 0;
    }
    &-title {
      padding: 20px;
    }
    &-pic {
      display: inline-block;
      width: 80px;
      height: 80px;
      @include hid;
      vertical-align: top;
      > img {
        width: 100%;
      }
    }
    &-info {
      display: inline-block;
      margin-left: 10px;
      vertical-align: top;
      h4 {
        margin-top: 10px;
        font-size: nth($fz, 2);
        font-weight: bold;
      }
      .iconfont {
        display: inline-block;
        padding-top: 5px;
        color: nth($fblack, 3);
        font-size: nth($fz, 5);
      }
    }
  }
}
