.tabs {
  display: flex;
  background-color: white;
  line-height: 40px;
  color: nth($fblack, 2);
  border-bottom: 1px solid nth($fgray, 1);
  font-size: 14px;
  &-pane {
    margin-right: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    border-bottom: 2px solid transparent;
    &.active,
    &:hover {
      color: nth($fblue, 1);
    }
    &.active {
      border-color: nth($fblue, 1);
    }
  }
  &-cont-active {
    display: none;
  }
}
