.home {
  main {
    padding: 0 20px;
  }
  &-title {
    padding: 5px 10px;
    border-bottom: 2px solid nth($fblue, 1);
    > .iconfont {
      padding-right: 5px;
      color: nth($fblue, 1);
    }
    &-txt {
      font-size: nth($fz, 4);
    }
  }
  &-list {
    display: flex;
    margin-top: 20px;
    margin-right: -20px;
    justify-content: space-between;
    flex-wrap: wrap;
    &-item {
      width: 140px;
      min-width: 140px;
      margin-bottom: 40px;
      margin-right: 20px;
      .item-info {
        position: relative;
        border: 1px solid nth($fblack, 3);
        &-pic {
          height: 138px;
          img {
            width: 100%;
          }
        }
        &-play {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 25px;
          padding: 0 5px;
          box-sizing: border-box;
          background-color: rgba(0, 0, 0, 0.4);
          color: nth($fgray, 5);
          line-height: 22px;
          border-top: 1px solid nth($fblack, 3);
          &-btn {
            cursor: pointer;
            &:hover {
              color: white;
            }
          }
        }
        &-count {
          padding-left: 5px;
        }
      }
      .item-title {
        margin-top: 7px;
        @include wordbreak;
      }
    }
  }
}
