.home {
  main {
    padding: 0 20px;
  }
  &-title {
    padding: 5px 10px;
    border-bottom: 2px solid nth($fblue, 1);
    > .iconfont {
      padding-right: 5px;
      color: nth($fblue, 1);
    }
    .title-txt {
      font-size: nth($fz, 4);
    }
  }
  &-recommend {
    margin-top: 20px;
  }
  &-new {
    &-list {
      position: relative;
      margin-top: 20px;
      padding: 20px 30px 10px;
      background-color: nth($fgray, 3);
      border: 1px solid nth($fgray, 1);
      .newalbum-list-item {
        margin-bottom: 0;
      }
    }
    &-nextbtn,
    &-prevbtn {
      position: absolute;
      top: 60px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }
    &-prevbtn {
      left: 0;
    }
    &-nextbtn {
      right: 0;
    }
  }
  &-top {
    margin-top: 20px;
    margin-bottom: 50px;
    .toplist {
      margin-top: 20px;
    }
  }
}
