.btn,
.btn-primary {
  padding: 4px 10px;
  border: 1px solid nth($fgray, 5);
  border-radius: 3px;
  cursor: pointer;
  background-color: #fdfdfd;
  line-height: 14px;
  color: nth($fblack, 2);
  transition: all 0.3s;
  &:active,
  &:hover {
    filter: hue-rotate(15deg);
  }
  .iconfont {
    padding-right: 5px;
    font-size: nth($fz, 2);
    vertical-align: middle;
  }
}
.btn-primary {
  color: white;
  background-color: nth($fblue, 1);
  border-color: nth($fblue, 1);
}
