.search {
  padding: 30px 30px;
  &-title {
    margin-bottom: 20px;
    font-size: 20px;
    em {
      color: nth($fblue, 1);
    }
  }
  &-songs {
    margin-top: 20px;
    margin-bottom: 20px;
    &-icon {
      color: nth($fblack, 3);
      cursor: pointer;
      &:hover,
      &:active {
        color: nth($fblack, 1);
      }
    }
    &-btns {
      margin-bottom: 20px;
    }
  }
  &-albums {
    margin: 20px 20px 10px;
  }
}
