.djradio {
  padding: 20px;
  &-head {
    .info-artist {
      margin-top: 10px;
      color: nth($fblue, 1);
      img {
        width: 30px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    .info-btn {
      margin-top: 12px;
      .btn-primary {
        margin-right: 6px;
      }
    }
    .info-desc {
      margin-top: 12px;
      line-height: 20px;
      pre {
        @include wordbreak;
      }
    }
    .info-cate {
      float: left;
      margin-right: 10px;
      padding: 2px 6px;
      border: 1px solid nth($fred, 1);
      color: nth($fred, 1);
      border-radius: 3px;
      line-height: 1;
      &:hover {
        background-color: nth($fred, 2);
      }
    }
    .info-desc-btn {
      color: nth($fblue, 1);
      cursor: pointer;
      .off {
        display: none;
      }
      .on {
        display: inline;
      }
      > .iconfont {
        font-size: nth($fz, 1);
      }
      &.active {
        .off {
          display: inline;
        }
        .on {
          display: none;
        }
      }
    }
  }
  &-box {
    margin-top: 20px;
    margin-bottom: 20px;
    .title {
      i {
        padding-left: 20px;
        color: nth($fblack, 3);
      }
    }
  }
  &-list {
    border: 1px solid nth($fgray, 5);
  }
  &-item {
    padding: 0 30px;
    line-height: 40px;
    color: nth($fblack, 2);
    &:hover {
      background-color: nth($fgray, 1);
    }
    &-order {
      display: inline-block;
      width: 14px;
      padding-right: 20px;
      color: nth($fblack, 3);
    }
    &-name {
      display: inline-block;
      width: 50%;
      padding-right: 10px;
      vertical-align: middle;
      @include txthid;
      @include hid;
    }
    &-count {
      display: inline-block;
      width: 58px;
      padding-right: 30px;
    }
    &-time {
      width: 88px;
      display: inline-block;
    }
    .iconfont {
      padding-right: 10px;
      color: nth($fblack, 3);
      cursor: pointer;
      vertical-align: middle;
      &:hover {
        color: nth($fblack, 2);
      }
    }
    &:nth-child(even) {
      background-color: nth($fgray, 3);
      &:hover {
        background-color: nth($fgray, 1);
      }
    }
  }
}
