.djradio {
  padding: 20px;
  &-head {
    &-pic {
      float: left;
      width: 160px;
      padding: 5px;
      border: 1px solid nth($fgray, 1);
      > img {
        width: 100%;
        vertical-align: middle;
      }
    }
    &-info {
      margin-left: 190px;
      min-height: 160px;
      .info-name {
        font-size: nth($fz, 4);
        &-tag {
          position: relative;
          display: inline-block;
          width: 40px;
          height: 20px;
          margin-right: 20px;
          background-color: red;
          color: white;
          text-align: center;
          font-size: nth($fz, 1);
          vertical-align: middle;
          &::after {
            position: absolute;
            right: -10px;
            top: 0;
            height: 0;
            width: 0;
            border: 10px solid transparent;
            border-left-color: red;
            border-right-width: 0;
            content: '';
          }
          &::before {
            position: absolute;
            top: 50%;
            right: -2px;
            width: 4px;
            height: 4px;
            border-radius: 3px;
            background-color: white;
            content: '';
            transform: translate(0, -50%);
            z-index: 1;
          }
        }
      }
      .info-artist {
        margin-top: 10px;
        color: nth($fblue, 1);
        img {
          width: 30px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      .info-btn {
        margin-top: 12px;
        .btn-primary {
          margin-right: 6px;
        }
      }
      .info-desc {
        margin-top: 12px;
        line-height: 20px;
        &.active {
          max-height: 78px;
          @include hid;
        }
        pre {
          @include wordbreak;
          white-space: pre-wrap;
        }
      }
      .info-cate {
        float: left;
        margin-right: 10px;
        padding: 2px 6px;
        border: 1px solid nth($fred, 1);
        color: nth($fred, 1);
        border-radius: 3px;
        line-height: 1;
        &:hover {
          background-color: nth($fred, 2);
        }
      }
      .info-desc-btn {
        color: nth($fblue, 1);
        cursor: pointer;
        .off {
          display: none;
        }
        .on {
          display: inline;
        }
        > .iconfont {
          font-size: nth($fz, 1);
        }
        &.active {
          .off {
            display: inline;
          }
          .on {
            display: none;
          }
        }
      }
    }
  }
  &-box {
    margin-top: 20px;
    margin-bottom: 20px;
    .title {
      i {
        padding-left: 20px;
        color: nth($fblack, 3);
      }
    }
  }
  &-list {
    border: 1px solid nth($fgray, 5);
  }
  &-item {
    padding: 0 30px;
    line-height: 40px;
    color: nth($fblack, 2);
    &:hover {
      background-color: nth($fgray, 1);
    }
    &-order {
      display: inline-block;
      width: 14px;
      padding-right: 20px;
      color: nth($fblack, 3);
    }
    &-name {
      display: inline-block;
      width: 50%;
      padding-right: 10px;
      vertical-align: middle;
      @include txthid;
      @include hid;
    }
    &-count {
      display: inline-block;
      width: 58px;
      padding-right: 30px;
    }
    &-time {
      width: 88px;
      display: inline-block;
    }
    .iconfont {
      padding-right: 10px;
      color: nth($fblack, 3);
      cursor: pointer;
      vertical-align: middle;
      &:hover {
        color: nth($fblack, 2);
      }
    }
    &:nth-child(even) {
      background-color: nth($fgray, 3);
      &:hover {
        background-color: nth($fgray, 1);
      }
    }
  }
}
